- if ( label_datum_counter + 1 ) % 18 == 0 
  .label_space.lastcol.lastrow
    = render :partial => 'label_data/label_info', :locals => { :label_datum => label_datum }
- elsif ( label_datum_counter + 1 ) % 3 == 0 
  .label_space.lastcol
    = render :partial => 'label_data/label_info', :locals => { :label_datum => label_datum }
- else
  .label_space
    = render :partial => 'label_data/label_info', :locals => { :label_datum => label_datum }

