// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Combine the partials into a single screen stylesheet.
//@import "partials/page";
//@import "partials/form";
//@import "partials/two_col";
@import "compass";

body {
  @include blueprint-typography(true);
  //@include showgrid;
}

// set default font size for all fields to big.
.field1,.field2,.field3,.field4,.field5,.field6,.field7,.field8,.field9,.field10,.field11,.field12 {
  font-size: 20px;
  //border: 1px solid black;
}

.field9 {
  font-size: 19px;
}

.field12 {
  float: right;
  font-size: 36px;
}


.label {
  @include min-height(190px);
  @include min-width(255px);
  max-height: 190px;
  max-width: 255px;
  //border: 1px solid black;
  margin: 4px;
  //padding: 5px;
  overflow: clip;
  br {
    line-height: 1px;
  }
}

.label_space {
  @include column(8);
  margin-bottom: 16px;
}

.label_space.lastcol {
  @include column(8,true);
}

.label_space.lastcol.lastrow {
  page-break-after: always;
}

.label_data_set {
  @include column(24, true);
}

#footer {
  @include column(24, true);
}

.field1 { 
  @include column(5);
  font-weight: bold;
}


.field3 {
  @include column(1);
  text-align: right;
}

.field5 {
  @include column(6);
  min-height: 90px;
  //@include nowrap;
  text-align: center;
  font-size: 32px;
  font-weight: bolder;
  line-height: 0.9;
}

.field5.longname {
  font-size: 30px;
}

.field5.shortname {
  font-size: 35px;
}

.field9 { 
  @include column(6);
  text-align: center;
}

.field12 {
  @include column(6);
  text-align: right;
}

